/* font-family: 'Raleway', sans-serif;
   font-family: 'Lato', sans-serif;
*/

/* Video */
.main {
    background-color: #ededeb;
    text-align: center;
    height: 100vh;
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
.header {
    height: 100%;
    min-height: 75vh;
    background-color: #ededeb;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    margin-top: 2%;
}

/* Intro Container */
.intro__container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

/* Intro */
.intro__inner {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-top: 15%;
    line-height: 1.5;
}

.circle__img {
    border-radius: 50%;
    border: 2px solid #3d3b3b;
    padding: 5px;
}

.intro__suptitle {
    font-size: 60px;
    font-weight: 700;
    font-family: 'Cuprum', sans-serif;
    letter-spacing: 10px;
    color: #3d3b3b;
    border-bottom: 3px solid black;
}

.intro__subtitle {
    font-size: 50px;
    color: #3d3b3b;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    margin-bottom: 5%;
}

.intro__button {
    text-decoration: none;
    border: 2px solid #3d3b3b;
    color: #3d3b3b;
    padding: 5px 20px;
}
.intro__button:hover {
    background-color: #3d3b3b;
    color: #fff;
}

/* Section One */
.start__inner {
    text-align: center;
    margin-top: 5%;
}

.start__title {
    font-size: 4vh;
    text-transform: uppercase;
    letter-spacing: 20px;
    margin-bottom: 2%;
    font-family: 'Lato', sans-serif;
}

.start__img {
    margin-bottom: 5%;
}

.sec_one__container {
    width: 100%;
    max-width: 1070px;
    margin: 0 auto;
}

.sec_one__text p {
    color: #888b90;
    font-size: 18px;
    line-height: 1.8em;
    text-align: center;
}

/* Section Two */
.sec__two {
    margin-top: 3%;
}
.sec_two__blockone {
    background: url(../img/block-two.jpg) no-repeat;
    background-size: cover;
    height: 130px;
}
.sec_two__blocktwo {
    background: url(../img/block-two.jpg) no-repeat;
    background-size: cover;
    height: 130px;
    transform: scale(1, -1);
}

.sec_two__start_inner {
    height: 40vh;
    background-color: #1bbc9b;
    text-align: center;
}

.two__start {
    line-height: 2.5;
}

.two__start__title {
    color: #fff;
    font-size: 4vh;
    text-transform: uppercase;
    letter-spacing: 20px;
    font-family: 'Lato', sans-serif;
}

/* Section Three */
.sec__three {
    text-align: center;
    margin-top: 3%;
}

.sec__three__title {
    display: inline-block;
    width: 200px;
    font-size: 4vh;
    border-bottom: 2px solid #1bbc9b;
    font-family: 'Lato', sans-serif;
    color: #2b2b2b;
    padding-bottom: 1%;
}

.three__img {
    margin-left: 12%;
    margin-top: 5%;
}
.three__img:first-child {
    margin-left: 0;
}

/* Section Four */
.sec__four {
    background: url(/img/block-four-bg.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}